body{
background:#0f1117;
color:white;
font-family:Arial;
margin:0;
}

.hidden{
display:none;
}

header{
background:#151922;
padding:10px;
display:flex;
gap:10px;
}

.layout{
display:flex;
height:100vh;
}

.sidebar{
width:260px;
background:#151922;
padding:15px;
overflow:auto;
}

.content{
flex:1;
padding:20px;
overflow:auto;
}

/* MAP BOARD */

#mapBoard{

width:3000px;
height:2000px;

background:#111;

position:relative;

border:2px solid #333;

}

/* MAP LAYER */

.mapLayer{
position:absolute;
top:0;
left:0;
max-width:none;
}

/* TOKEN */

.token{

position:absolute;

width:60px;

cursor:grab;

}

/* CANVAS */

canvas{

position:absolute;

top:0;
left:0;

pointer-events:none;

}

#drawCanvas{
pointer-events:auto;
}

/* BUTTONS */

button{
background:#2e3548;
color:white;
border:none;
padding:8px 14px;
margin:4px;
cursor:pointer;
}

button:hover{
background:#3f4b66;
}

/* MAP CONTROLS */

.mapControls{
margin-bottom:10px;
}
